@using LAB02_DLL.Models
@model LAB02_DLL.Models.Team


<h2 class="text-center my-4">Add New Team</h2>

<div class="container">
    <form asp-action="Submit" method="post" novalidate>
        <input hidden value="@Model.Id" name="Id"/>
        <div class="form-group">
            <label for="Name">Team Name</label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required>
        </div>

        <div class="form-group">
            <label for="Country">Country</label>
            <input type="text" class="form-control" id="Country" name="Country" value="@Model.Country" required>
        </div>

        <div class="form-group">
            <label for="City">City</label>
            <input type="text" class="form-control" id="City" name="City" value="@Model.City" required>
        </div>

        <div class="form-group">
            <label for="FoundingDate">Founding Date</label>
            <input type="date" class="form-control" id="FoundingDate" name="FoundingDate" value="@Model.FoundingDate.ToString("yyyy-MM-dd")" required>
        </div>

        <div class="form-group">
            <label for="LeagueId">League</label>
            <select class="form-control" id="LeagueId" name="LeagueId" required>
                @foreach (League league in ViewBag.Leagues)
                {
                    <option value="@league.Id">@league.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

